<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Encuesta</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>

    <div id="app" class="container">
      {{ $data}}

      <h3>
        Tareas finalizadas
      </h3>
      <ul>
        <li v-for="(item, index) of tasks" v-if="!item.pendiente">
          {{index + 1 }}: {{item.title}}
        </li>
      </ul>

      <h3>
        Tareas pendientes
      </h3>
      <ul>
        <li v-for="(item, index) of tasks" v-if="item.pendiente">
          {{index + 1 }}: {{item.title}}
        </li>
      </ul>

      <template v-if="tareasPendientes.length > 0">
        <h3>
          Tareas pendientes usando el filter definido en tareasPendientes
        </h3>
        <ul>
          <li v-for="(item, index) of tareasPendientes">
            {{index + 1 }}: {{item.title}}
          </li>
        </ul>
      </template >


    </div> <!-- /container -->

    <!-- VUE core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript">

      var app = new Vue({
        el: '#app',
        data: {
          tasks:  [
            {
              title: 'tarea 1',
              pendiente: false,
            },
            {
              title: 'tarea 2',
              pendiente: true,
            },
            {
              title: 'tarea 3',
              pendiente: false,
            },
            
          ]
        },
        computed: {
          tareasPendientes: function () {
            //NOTA; aqui se define un nuevo array q contiene solo las tareas pendientes.
            return this.tasks.filter(function ( task) {
              return task.pendiente;
            } );
          },

        },

      })
    </script>
  </body>
</html>
