<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Encuesta</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>

    <div id="app" class="container">
      {{ $data}}

      <h3>
        Todas las tareas
      </h3>
      <ul>
        <li v-for="(item, index) of tasks" @click="togglePendiente(item, $event)">
          {{index + 1 }}: {{item.title}}: {{item.pendiente}}
        </li>
      </ul>


      <h3>
        Tareas finalizadas
      </h3>
      <ul>
        <li v-for="(item, index) of tasks" v-if="!item.pendiente">
          {{index + 1 }}: {{item.title}}
        </li>
      </ul>

      <h3>
        Tareas pendientes
      </h3>
      <ul>
        <li v-for="(item, index) of tasks" v-if="item.pendiente">
          {{index + 1 }}: {{item.title}}
        </li>
      </ul>

      <template v-if="tareasPendientes.length > 0">
        <h3>
          Tareas pendientes usando el filter definido en tareasPendientes
        </h3>
        <ul>
          <li v-for="(item, index) of tareasPendientes">
            {{index + 1 }}: {{item.title}}
          </li>
        </ul>
      </template >
      <h3>Añadir tarea con v-on y distintos eventos</h3>
      <input type="text" class="form-control" 
             v-model="newTask"
             v-on:keyup.enter="createTask"
             >
      <button v-on:click="createTask" class="btn btn-primary" >Crear tarea</button>

      <h3>Añadir tarea con un formulario de manera tradicional</h3>
      <form v-on:submit="createTaskSubmit" >
        <input type="text" class="form-control" 
               v-model="newTask"
               >
        <button class="btn btn-primary" >Crear tarea</button>

      </form>

      <h3>Añadir tarea con un formulario pero haciendo de manera implicita el preventDefault y usando el alias @ de v-on</h3>
      <form @submit.prevent="createTaskSubmitPreventImplicito" >
        <input type="text" class="form-control" 
               v-model="newTask"
               >
        <button class="btn btn-primary" >Crear tarea</button>

      </form>

      <h3>Añadir tarea con un formulario pero pasando parametros a la funcion q gestiona el evento</h3>
      <form @submit="createTaskSubmitPasoParametros( 'cualquiera', 'otracosa',$event, false)" >
        <input type="text" class="form-control" 
               v-model="newTask"
               >
        <button class="btn btn-primary" >Crear tarea</button>

      </form>


      <h3>
        Recorriendo con un for los atributos de un objeto
      </h3>
      <ul>
        <li v-for="(value, key, index) of user" >
          {{index }}: {{key}}: {{value}}
        </li>
      </ul>

    </div> <!-- /container -->

    <!-- VUE core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript">

      var app = new Vue({
        el: '#app',
        data: {
          newTask: '',
          tasks:  [
            {
              title: 'tarea 1',
              pendiente: false,
            },
            {
              title: 'tarea 2',
              pendiente: true,
            },
            {
              title: 'tarea 3',
              pendiente: false,
            },
            
          ],
          user: {
            name: "nauzet",
            surname: "melian",
            age: "30+",
            status: "free",
          }
        },
        computed: {
          tareasPendientes: function () {
            //NOTA; aqui se define un nuevo array q contiene solo las tareas pendientes.
            return this.tasks.filter(function ( task) {
              return task.pendiente;
            } );
          },

        },
        methods: {
          createTask: function () {
            if ( this.newTask == '' ) return;

            this.tasks.push( { title: this.newTask, pendiente: true });
            this.newTask = '';
          },
          createTaskSubmit: function (e) {
            e.preventDefault();

            this.createTask();
          },
          createTaskSubmitPreventImplicito: function () {

            this.createTask();
          },
          //Se pueden pasar parametros por posicion o por KEY, pero parece que esas varaibles como $event son variables especiales... no por poner $ se crea una variable por key
          createTaskSubmitPasoParametros: function ( primerParametro, segundoParametro, event, pendiente) {
            event.preventDefault();
            if ( this.newTask == '' ) return;

            this.tasks.push( { title: this.newTask, pendiente: pendiente });
            this.newTask = '';
          },
          togglePendiente: function (task, event ) {
            task.pendiente = !task.pendiente;
          }

        }

      })
    </script>
  </body>
</html>
