<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Encuesta</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>

    <div id="app" class="container">
      {{ $data}}
      <form class="form-encuesta">

        <div class="form-group">
          <h4> Has trabajado con vue? </h4>
          <label class="form-check-label">
            <input class="form-check-input" type="radio" v-model="vue.exp" :value="true">
            Si
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="radio" v-model="vue.exp" :value="false">
            No
          </label>
        </div>

        <template v-if="vue.exp">

          <div class="form-group">
            <label for="motivo">Cuantos años llevas trabajando?</label>
            <input class="form-control" type="text" name="years" id="years" v-model="vue.years" >
          </div>

          <div class="form-group" v-if="vue.years <= 1">
            <label for="motivo">Que te motivo</label>
            <textarea class="form-control" rows="3" v-model="vue.description"></textarea>
          </div>

          <div class="form-group" v-else>
            <label for="description">Cuentame tu experiencia</label>
            <textarea class="form-control" rows="3" v-model="vue.description"></textarea>
          </div>
        </template >
        <button type="submit" class="btn btn-primary">Submit</button>


      </form>

    </div> <!-- /container -->

    <!-- VUE core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript">

      var app = new Vue({
        el: '#app',
        data: {
          vue: {
            exp: false,
            years: 0,
            description: '',

          }
        },
        methods: {

        }
      })
    </script>
  </body>
</html>
